/* H E A D E R */
/* Giver en lyseblå baggrund til headeren og tilføjer "padding" og giver fonten til headeren */
.header {
    overflow: hidden;
    background-color: cadetblue;
    padding: 20px 10px;
    font-family: "Comic Sans MS";
}

/* Style the header links */
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

/* Style the logo link */
.header a.home {
    font-size: 25px;
    font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the active/current link*/
.header a.lit {
    color: darkslateblue;
}

/* Float the link section to the right */
.header-right {
    float: right;
}

/* F O O T E R */
/* Giver en baggrund til footer og tilføjer "padding" og giver fonten til footeren */
/* Style footer */
.footer {
    overflow: hidden;
    background-color: cadetblue;
    padding: 40px 20px;
    font-family: "Comic Sans MS";
    position: relative;
    left: 0;
    bottom: 0px;
    width: 100%;
    color: black;
    text-align: center;
    font-size: 12px;

}

/* Change the background color on mouse-over */
.footer hover {
    background-color: #ddd;
    color: black;
}

/* Style the active/current link*/
.footer lit {
    color: darkslateblue;
}

/*DROPDOWN MENU*/
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 18px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown .dropbtn:hover {
    background-color: #ddd;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: lightgray;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.form-container {
    padding: 16px;
}

.top-banner {
    box-sizing: border-box;
}

.intro-box {
    float: left;
    width: 50%;
    padding: 100px;

}
.signup-button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.wishlist-box {
    width: 125px;
    height: 125px;
    margin: 0;
    padding: 16px 20px;
    border: none;
    display: inline-block;
    background-color: #555;
    color: white;
    border-radius: 25px;
    bottom: 23px;
    right: 28px;

}

.wishlists {
    margin: 150px 150px 150px;
}
.right-box img{
    margin-top: 100px;
    float: right;
    width: 50%;

}

img {
    width: 400px;
    max-height: 400px;
}


/* __________________________________________________*/

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}

/*----------------------------------------------------------------------------------*/

/* Button used to open the contact form */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    bottom: 23px;
    right: 28px;
    width: 125px;
    height: 125px;
    border-radius: 25px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}