<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
</head>
<body>
<div class="header">
    <div class="dropdown">
        <button class="dropbtn">Menu
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/login">Log ind</a>
            <a href="/signup">Opret profil</a>
        </div>
    </div>
    <div class="header-right">
        <a href="/" style="border-style: dashed">Home</a>
        <a href="/signup">Opret profil</a>
        <a href="/login">Log ind</a>
    </div>
</div>
<div>
<div class="top-banner">
    <div class="intro-box">
        <h1 style="font-size: 48px">Velkommen til Ønskesedlen!</h1>
        <hr style="background-color: black">
        <p style="font-size: 18px">Her hos Ønskesedlen ønsker vi at gøre det nemt for dig, at finde
        og tilføje genstande som du ønsker dig til din egen personlige ønskeliste. Del, favourite og tilføj et
         bredt udvalg af varer, opret en profil i dag!</p>
        <a href="/signup" class="signup-button">Opret profil</a>
        <hr style="background-color: black">

    </div>
</div>

</div>



<div class="footer">
    <a href="https://github.com/Lauribee">Laura Stroe</a>
    <a href="https://github.com/Chri75ky">Christian Henriksen</a>
</div>
</body>
</html>