<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">

<head>
    <meta charset="UTF-8">
    <title>Ønskeseddlen :D</title>
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
</head>
<body>
<div class="header">
    <a rel="stylesheet" th:href="@{style.css}" href="../static/style.css">Home</a>
    <div class="header-right">
        <a href="signup">Opret bruger</a>
        <a href="/login">Log ind</a>
        <div class="dropdown">
        <a class="dropbtn">Menu</a>
        <div class="dropdown-content">
            <a href="/profile">Min profil</a>
            <a href="/wishlist">Mine ønskelister</a>
            <a href="/browse">Browse</a>
            <a href="/index">Log ud</a>
        </div>
        </div>
    </div>
</div>

<div class="footer">
    <a href="https://github.com/Lauribee">Laura Stroe</a>
    <a href="https://github.com/Chri75ky">Christian Henriksen</a>
</div>
</body>
</html>