<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">

<head>
    <meta charset="UTF-8">
    <title>Ønskesedlen :D</title>
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
</head>

<body>
<header>
    <div class="dropdown">
        <button class="dropbtn">Browse
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/category-beauty">Kosmetik</a>
            <a href="/category-clothes">Tøj</a>
            <a href="/category-electronics">Elektronik</a>
            <a href="/category-sport">Sport</a>
        </div>
    </div>
    <div class="header-right">
        <a href="/logged" style="border-style: dashed">Home</a>
        <a href="/profile">Min profil</a>
        <a href="/wishlist">Mine ønskelister</a>
        <a href="/">Log ud</a>
    </div>
</header>

<section>
    <div class="intro-box">
    <h1 style="font-size: 48px">Velkommen til Ønskesedlen!</h1>
    <hr style="background-color: black">
    <p style="font-size: 18px">Her hos Ønskesedlen ønsker vi at gøre det nemt for dig, at finde
        og tilføje genstande som du ønsker dig til din egen personlige ønskeliste. Del, favourite og tilføj et
        bredt udvalg af varer, opret en profil i dag!</p>
    <a href="/wishlist" class="signup-button">Opret ønskeliste</a>
    <hr style="background-color: black">
    </div>

    <div class="right-box">
    <img alt="ønskeseddel" src="billeder/ønskeseddel.jpg">
    </div>
</section>

<footer>
    <a href="https://github.com/Lauribee">Laura Stroe</a><br><br>
    <a href="https://github.com/Chri75ky">Christian Henriksen</a><br><br>
</footer>
</body>
</html>