<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">

<head>
    <meta charset="UTF-8">
    <title>Log ind - Ønskesedlen</title>
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
</head>
<body>

<header>
    <div class="dropdown">
        <button class="dropbtn">Menu
            <i class="fa fa-caret-down"></i>
        </button>
        <header class="dropdown-content">
            <a href="/login">Log ind</a>
            <a href="/signup">Opret profil</a>
        </header>
    </div>

    <div class="header-right">
        <a href="/" style="border-style: dashed">Home</a>
        <a href="/signup">Opret profil</a>
        <a href="/login">Log ind</a>
    </div>
</header>


<section class="form-container">
    <h1>Log ind</h1>
    <hr>

    <form method="POST" action="/logged">
        <label for="email-or-user-id">E-mail/brugernavn</label>
        <input id="email-or-user-id" placeholder="Indtast e-mail eller brugernavn" type="text" name="email-or-user-id"/><br><br>
        <label for="password">Adgangskode</label>
        <input id="password" placeholder="Indtast adgangskode" type="password" name="password"/><br><br>

        <button type="submit">Log ind</button><br><br>

        <p>Glemt <a href="/" style="color:dodgerblue">adgangskode</a>?</p>
        <p>Har du ikke en profil? <a href="/signup" style="color:dodgerblue">Opret profil</a></p>

    </form>
</section>

<footer>
    <a href="https://github.com/Lauribee">Laura Stroe</a><br><br>
    <a href="https://github.com/Chri75ky">Christian Henriksen</a><br><br>
</footer>
</body>
</html>