<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">

<head>
    <meta charset="UTF-8">
    <title>Min profil - Ønskesedlen</title>
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
</head>
<body>

<header>
    <div class="dropdown">
        <button class="dropbtn">Browse
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/category-beauty">Kosmetik</a>
            <a href="/category-clothes">Tøj</a>
            <a href="/category-electronics">Elektronik</a>
            <a href="/category-sport">Sport</a>
        </div>
    </div>
    <div class="header-right">
        <a href="/logged">Home</a>
        <a href="/profile" style="border-style: dashed">Min profil</a>
        <a href="/wishlist">Mine ønskelister</a>
        <a href="/">Log ud</a>
    </div>
</header>
<div style="text-align: center">
    <h1>Velkommen <p th:text="${username}"></p></h1>
    <p>Brugernavn:</p>
    <p th:text="${username}"></p><br>
    <p>Email:</p>
    <p th:text="${email}"></p><br>
    <p>Adgangskode:</p>
    <p th:text="${password}"></p>



</div>
<footer>
    <a href="https://github.com/Lauribee">Laura Stroe</a><br><br>
    <a href="https://github.com/Chri75ky">Christian Henriksen</a><br><br>
</footer>
</body>
</html>