<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">

<head>
    <meta charset="UTF-8">
    <title>Opret profil - Ønskesedlen</title>
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
</head>
<body>
<div class="header">
    <div class="dropdown">
        <button class="dropbtn">Menu
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/login">Log ind</a>
            <a href="/signup">Opret profil</a>
        </div>
    </div>
    <div class="header-right">
        <a href="/">Home</a>
        <a href="/signup" style="border-style: dashed">Opret profil</a>
        <a href="/login">Log ind</a>
    </div>
</div>

<section class="form-container">
    <h1>Opret profil</h1>
    <hr>

    <form method="POST" action="/test">
        <label for="email">E-mail</label>
        <input id="email" placeholder="Indtast e-mail" type="text" name="email"/><br><br>
        <label for="user-id">Brugernavn</label>
        <input id="user-id" placeholder="Indtast brugernavn" type="text" name="user-id"><br><br>
        <label for="password">Adgangskode</label>
        <input id="password" placeholder="Indtast adgangskode" type="password" name="password"/><br><br>
        <label for="password-check">Gentag adgangskode</label>
        <input id="password-check" placeholder="Gentag adgangskode" type="password" name="password-check"/><br><br>

        <label>
            <input type="checkbox" name="accept" style="margin-bottom:15px"> Accepter betingelser
        </label>

        <button type="submit">Opret profil</button><br><br>
        <p>Har du allerede en profil? <a href="/login" style="color:dodgerblue">Log ind</a></p>

    </form>
</section>

<div class="footer">
    <a href="https://github.com/Lauribee">Laura Stroe</a>
    <a href="https://github.com/Chri75ky">Christian Henriksen</a>
</div>
</body>
</html>