<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">

<head>
    <meta charset="UTF-8">
    <title>Opret profil - Ønskesedlen</title>
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
</head>
<body>
<div class="header">
    <div class="dropdown">
        <button class="dropbtn">Menu
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/login">Log ind</a>
            <a href="/signup">Opret profil</a>
        </div>
    </div>
    <div class="header-right">
        <a href="/">Home</a>
        <a href="/signup" style="border-style: dashed">Opret profil</a>
        <a href="/login">Log ind</a>
    </div>
</div>

<div class="footer">
    <a href="https://github.com/Lauribee">Laura Stroe</a>
    <a href="https://github.com/Chri75ky">Christian Henriksen</a>
</div>
</body>
</html>